 .u-section-1 {
  background-image: url("images/Simon-Kucher-2-2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 358px;
}

.u-section-1 .u-text-1 {
  margin: 133px auto 60px 291px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 105px;
  }
} .u-section-2 {
  background-image: linear-gradient(#999999, #c0c0c0);
}

.u-section-2 .u-sheet-1 {
  min-height: 635px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1227px;
  margin: 10px -89px 45px auto;
}

.u-section-2 .u-image-1 {
  min-height: 580px;
  background-image: url("images/WhatsAppImage2024-06-04at11.13.23.jpeg");
}

.u-section-2 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 580px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 60px 9px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 444px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 510px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 321px;
  }
} .u-section-3 {
  background-image: linear-gradient(#c0c0c0, #999999);
}

.u-section-3 .u-sheet-1 {
  min-height: 829px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1188px;
  margin: 73px -24px 29px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 727px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 46px 25px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: 56px 8px 0;
}

.u-section-3 .u-image-1 {
  min-height: 727px;
  background-image: url("images/Lucky.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 575px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 440px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 40px 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 660px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 416px;
  }
} .u-section-4 {
  background-image: linear-gradient(#c0c0c0, #999999);
}

.u-section-4 .u-sheet-1 {
  min-height: 1219px;
}

.u-section-4 .u-list-1 {
  margin: 44px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 884px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-gap: 20px;
}

.u-section-4 .u-image-1 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/LemmyMule_2.jpg");
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 20px;
}

.u-section-4 .u-group-1 {
  min-height: 89px;
  height: auto;
  width: 257px;
  margin: 323px 47px 0 63px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  transition-duration: 0.5s;
  font-weight: 700;
  font-size: 1.375rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 9px 0 -9px;
}

.u-section-4 .u-image-2 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/ReneilweMaenetja_2.jpg");
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 20px;
}

.u-section-4 .u-group-2 {
  min-height: 89px;
  height: auto;
  width: 257px;
  margin: 323px 47px 0 63px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-2 {
  transition-duration: 0.5s;
  font-weight: 700;
  font-size: 1.375rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 9px 0 -9px;
}

.u-section-4 .u-image-3 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/MamotshehoaOlifant_2.jpg");
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 20px;
}

.u-section-4 .u-group-3 {
  min-height: 89px;
  height: auto;
  width: 257px;
  margin: 323px 47px 0 63px;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-3 {
  transition-duration: 0.5s;
  font-weight: 700;
  font-size: 1.375rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 9px 0 -9px;
}

.u-section-4 .u-image-4 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/TsedisoTlali_2.jpg");
}

.u-section-4 .u-container-layout-7 {
  padding: 0 0 20px;
}

.u-section-4 .u-group-4 {
  min-height: 89px;
  height: auto;
  width: 257px;
  margin: 323px 47px 0 63px;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-4 {
  transition-duration: 0.5s;
  font-weight: 700;
  font-size: 1.375rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 9px 0 -9px;
}

.u-section-4 .u-image-5 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/MoferefereDhlamini_2.jpg");
}

.u-section-4 .u-container-layout-9 {
  padding: 0 0 20px;
}

.u-section-4 .u-group-5 {
  min-height: 89px;
  height: auto;
  width: 257px;
  margin: 323px 47px 0 63px;
}

.u-section-4 .u-container-layout-10 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-5 {
  transition-duration: 0.5s;
  font-weight: 700;
  font-size: 1.375rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 9px 0 -9px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1611px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1250px;
  }

  .u-section-4 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-3 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-5 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-group-5 {
    height: auto;
  }

  .u-section-4 .u-container-layout-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1535px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    grid-auto-columns: calc(50% - 9.999975px);
    min-height: 1277px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3354px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% + 0px);
    min-height: 3011px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3278px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-1 {
    margin-right: 34px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 33px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-2 {
    margin-right: 34px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 33px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-3 {
    margin-right: 34px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 33px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-4 {
    margin-right: 34px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 33px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-5 {
    margin-right: 34px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 33px;
  }
}

.u-section-4 .u-text-3,
.u-section-4 .u-text-3:before,
.u-section-4 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover > .u-section-4 .u-text-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover > .u-section-4 .u-text-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-2:before,
.u-section-4 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover > .u-section-4 .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-4,
.u-section-4 .u-text-4:before,
.u-section-4 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover > .u-section-4 .u-text-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-24:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-24:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-25:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-25:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-25:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-25:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-25:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-50:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-50:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-50:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-35:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-35:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-35:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-34:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-34:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-34:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-6bc3-56:not([data-block-selected]):not([data-cell-selected]).u-block-6bc3-56:not([data-block-selected]):not([data-cell-selected]).u-block-6bc3-56:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-6bc3-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-6bc3-62:not([data-block-selected]):not([data-cell-selected]).u-block-6bc3-62:not([data-block-selected]):not([data-cell-selected]).u-block-6bc3-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-6bc3-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-68:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-68:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-6bc3-68:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-68:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-6bc3-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-6bc3-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-6bc3-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-6bc3-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-6bc3-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-6bc3-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-6bc3-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-6bc3-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-6bc3-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-6bc3-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-6bc3-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-6bc3-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-6bc3-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-6bc3-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-6bc3-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-6bc3-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-4 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-4 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-4 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-70:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-70:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-70:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-70:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-70:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-6bc3-70:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-70:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-6bc3-69:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-69:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-69:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-69:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-69:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-6bc3-69:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-69:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-6bc3-84:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-84:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-84:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-84:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-84:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-89:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-89:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-89:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-89:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-89:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-75:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-75:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-75:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-75:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-75:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-6bc3-75:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-75:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-6bc3-80:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-80:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-80:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-80:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-80:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-6bc3-80:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-80:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-6bc3-85:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-85:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-85:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-85:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-85:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-6bc3-85:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-85:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-6bc3-90:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-90:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-90:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-90:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-90:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-6bc3-90:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-6bc3-90:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-section-4 .u-text-5,
.u-section-4 .u-text-5:before,
.u-section-4 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-5 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover > .u-section-4 .u-text-5 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-133:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-133:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-133:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-133:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-133:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-6bc3-138:not([data-block-selected]):not([data-cell-selected]),
.u-block-6bc3-138:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6bc3-138:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-6bc3-138:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-6bc3-138:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}