 .u-section-1 {
  background-image: linear-gradient(#f9e79b, #c0c0c0);
}

.u-section-1 .u-sheet-1 {
  min-height: 976px;
}

.u-section-1 .u-text-1 {
  margin: 27px 283px 0 372px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 44px 0 -30px;
}

.u-section-1 .u-image-1 {
  min-height: 402px;
  background-image: url("images/High-Grade-Brick-Manufacturing-Projects-Completed-by-LeafySpace-South-Africa-5.jpg");
  background-position: 50% 13.41%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 402px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 9px 165px 0 20px;
}

.u-section-1 .u-text-3 {
  margin: 20px 44px 0 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 454px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 40px 92px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 402px;
  background-image: url("images/pic2poutlry.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 400;
    margin-top: 1px;
    margin-right: 183px;
    margin-left: 272px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 85px;
    margin-bottom: -184px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 331px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 210px;
    margin-right: 73px;
    margin-left: 162px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -124px;
    margin-bottom: -590px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 254px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 552px;
    margin-right: 0;
    margin-left: 55px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -452px;
    margin-bottom: -478px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 381px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 381px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 586px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -474px;
    margin-bottom: -794px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 240px;
  }

  .u-section-1 .u-image-2 {
    min-height: 240px;
  }
} .u-section-2 {
  background-image: linear-gradient(#f9e79b, #f9e79b);
}

.u-section-2 .u-sheet-1 {
  min-height: 924px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1198px;
  margin: 60px -58px 19px auto;
}

.u-section-2 .u-image-1 {
  min-height: 423px;
  background-image: url("images/artisan.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 25px 222px 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 423px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 11px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 19px 19px 0 38px;
}

.u-section-2 .u-text-4 {
  margin: 7px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 423px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-image-2 {
  width: 421px;
  left: 60px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 331px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 128px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 332px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 331px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-2 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 254px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 22px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 381px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 381px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 240px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 240px;
  }
} .u-section-3 {
  background-image: linear-gradient(#f9e79b, #c0c0c0);
}

.u-section-3 .u-sheet-1 {
  min-height: 514px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 229px;
  margin: 11px auto 0 -29px;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 229px;
  margin: -229px -66px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 24px 40px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 216px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 136px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 137px;
    margin-right: 0;
  }
}