 .u-section-1 {
  background-image: linear-gradient(#f9e79b, #c0c0c0);
}

.u-section-1 .u-sheet-1 {
  min-height: 5480px;
}

.u-section-1 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px -65px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -33px 1073px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 28px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 16px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 21px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 36px auto 0 0;
}

.u-section-1 .u-btn-16 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 19px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 15px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 13px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 19px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 16px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 8px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-29 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 18px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-31 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-32 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 10px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-33 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 18px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-34 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-35 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 13px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-36 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 15px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-37 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-38 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 13px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-39 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 15px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-40 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-41 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-42 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-43 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-44 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-45 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 13px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-46 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-47 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-48 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-49 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-50 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-51 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-52 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 19px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-53 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 23px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-54 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 37px auto 0 0;
}

.u-section-1 .u-btn-55 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 12px 878px 0 0;
  padding: 0;
}

.u-section-1 .u-btn-56 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 12px 954px 0 0;
  padding: 0;
}

.u-section-1 .u-btn-57 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-58 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-59 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-60 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-61 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-62 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-63 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-64 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-65 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-66 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-67 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 14px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-68 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-69 {
  border-style: solid;
  font-size: 0.875rem;
  margin: 17px 996px 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 873px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 884px;
  }

  .u-section-1 .u-btn-55 {
    margin-right: 678px;
  }

  .u-section-1 .u-btn-56 {
    margin-right: 754px;
  }

  .u-section-1 .u-btn-69 {
    margin-right: 796px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 653px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 664px;
  }

  .u-section-1 .u-btn-55 {
    margin-right: 458px;
  }

  .u-section-1 .u-btn-56 {
    margin-right: 534px;
  }

  .u-section-1 .u-btn-69 {
    margin-right: 576px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 484px;
  }

  .u-section-1 .u-btn-55 {
    margin-right: 278px;
  }

  .u-section-1 .u-btn-56 {
    margin-right: 354px;
  }

  .u-section-1 .u-btn-69 {
    margin-right: 396px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 273px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 284px;
  }

  .u-section-1 .u-btn-55 {
    margin-right: 78px;
  }

  .u-section-1 .u-btn-56 {
    margin-right: 154px;
  }

  .u-section-1 .u-btn-69 {
    margin-right: 196px;
  }
}